*{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
/*Header Section*/

#bannerMDHL{
    width: 100%;
    border: 2px solid black;
}


h1 {    
    color:yellow;
    padding: 5px;
    text-shadow: 0px 0px 5px black;
}

.menu{
    position: absolute;
    right: 30px;
    top: 60px;
}
.menu p{
    display: inline-block;
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 10px;
    
}

/*Main Section*/

#logoMDHL{
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    width: 180px;
    

}



.events{
    display: inline-block;
    padding-left: 35px;
    width: 75%;
}

.eventlist p{
    padding-left: 15px;
}

.UEh3 {
    margin: 0;
    color: white;
    text-align: center;
    background-color: black;
    padding: 15px;
}


